.dataTables_wrapper {
    display: grid;
    clear: unset;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
    text-align: left;
}

.dataTable {
    grid-column: 1/ span3;
}

table.dataTable.no-footer {
    border: unset;
}

table.dataTable .tab_bg_2 td {
    padding: 10px 18px;
}

.dataTables_length,
.dataTables_info {
    grid-column: 2;
}

.dataTables_info {
    float: unset;
}
